@import '../../libruary';

.buble {
    display: flex;
    flex-direction: row;
}

.avatar {
    flex: 0 1 auto;
}

.rightWrapper {
    margin: 0 0 0 20px;
}

.message {
    border-radius: 1.15rem;
    line-height: 1.25;
    // max-width: 75%;
    padding: 0.5rem 0.875rem;
    position: relative;
    word-wrap: break-word;

    &::before,
    &::after {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
    }
}

.left {
    align-items: flex-start;
    background-color: #e5e5ea;
    color: #000;
    &::before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #e5e5ea;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
    }

    &::after {
        background-color: $chatAreaColor;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
    }
}

.right {
    align-self: flex-end;
    background-color: #248bf5;
    color: #fff;
    &::before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid #248bf5;
        right: -0.35rem;
        transform: translate(0, -0.1rem);
    }
    &::after {
        background-color: $chatAreaColor;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform: translate(-30px, -2px);
        width: 10px;
    }
}

.subline {
    display: flex;
}

.title {
    flex: 0 1 auto;
}

.date {
    flex: 0 1 auto;
}

.justify-right {
    justify-content: flex-end;
}

.justify-left {
    justify-content: flex-start;
}
